<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Raport</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label >Raport z dnia: </ion-label>
    <ion-datetime slot="end"  #datePicker doneText = "Wybierz" cancelText="Anuluj" [monthShortNames] = "monthShort"
			text-center
			(ionChange)="dateChanged($event)"
      displayFormat="DD MMM, YYYY"
      placeholder="Wybierz dzień"
			[(ngModel)]="dateStr"></ion-datetime>
  </ion-item>
  <ion-card *ngIf="ordersByDate != undefined && ordersByDate.length > 0;else noData">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Statystyki</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-list class="ion-no-padding">
      <ion-item lines="none" class="stat-item">
        <ion-label  class="ion-no-margin">Utarg:</ion-label>
        <span slot="end">{{statsMap.get('total') | number:'2.2' }} zł</span>
      </ion-item>
      <ion-item lines="none"  class="stat-item">
        <ion-label  class="ion-no-margin">Liczba zamówień:</ion-label>
        <span slot="end">{{statsMap.get('totalOrders')}}</span>
      </ion-item>
      <ion-item lines="none"  class="stat-item">
        <ion-label class="ion-no-margin">Liczba zamówionych dań:</ion-label>
        <span slot="end">{{statsMap.get('totalOrderedDishes')}}</span>  
      </ion-item>
      <ion-item lines="none"  class="stat-item">
        <ion-label class="ion-no-margin">Pierwsze zamówienie:</ion-label>
        <span slot="end">{{statsMap.get('firstOrderTime')}}</span>  
      </ion-item>
      <ion-item lines="none"  class="stat-item">
        <ion-label class="ion-no-margin">Ostatnie zamówienie:</ion-label>
        <span slot="end">{{statsMap.get('lastOrderTime')}}</span>  
      </ion-item>
    </ion-list>
    </ion-card-content>
    <ion-card-content  class="drop-down-list ion-no-margin ion-no-padding">
      <ion-list #dropDownList>
        <ion-item color="light" lines="none" *ngFor="let categoryValue of categoryValues | keyvalue">
          <ion-label  class="ion-no-margin">{{categoryValue.key | titlecase}}</ion-label>
          <span slot="end">{{categoryValue.value}}</span>
        </ion-item>
      </ion-list>
      <div (click) = "toggleDropDown()">
        <ion-icon name="chevron-down-outline" size="large" #dropDownBtn></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-slides scrollbar="true" [options]="slideOpts" ><!--  *ngIf="ordersByDate != undefined && ordersByDate.length > 0"> -->
    <ion-slide>
      <app-crowdness-chart [dateChangedEvent] = "dateChangedEvent.asObservable()"></app-crowdness-chart>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
</ion-content>

<ng-template #noData>
  <ion-item class="ion-margin" style="border-radius:5px">
    <ion-label class="ion-margin ion-text-center">Brak danych</ion-label>
  </ion-item>
</ng-template>
