ion-card {
  overflow: visible;

  ion-card-content:not(.drop-down-list) {
    ion-list {
      --min-height:2rem;
      .stat-item {
        --min-height:2rem;
        --inner-padding-top:0;
        --inner-padding-botton:0;

        span {
          margin:0px;
        }
      }
    }
  }


  ion-card-content.drop-down-list {
    border: 1px solid darkslategray;
    border-radius: 5px;
    background-color: var(--ion-color-light);
    position: relative;
    overflow: visible;
    & > * {
      background-color: var(--ion-color-light);
    }
    div {
      display: flex;
      align-items: flex-end;
      background-color: var(--ion-color-light);
      border-radius: 10px;
      position: absolute;
      right: 50%;
      transform: translate(50%, -20%);
      top: 100%;
    }
    ion-list {
      padding: 0;
      max-height: 0;
      ion-item {
        --ion-color-shade: var(--ion-color-light);
      }
    }
  }
}

ion-slide {
  display:flex;
  flex-direction: column;
  canvas {
    width:100%;
    height:100%;
  }
}