<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" size="large" class="ion-margin-start" (click) = "back()"></ion-icon>
    <ion-title>Dodaj zamówienie</ion-title>
    <ion-icon name="document-text-outline" size="large" class="questionnaire-icon" slot="end"
      (click)="openQuestionnaire()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item class="ion-no-margin ion-margin-horizontal">
    <ion-select [(ngModel)]="chosenTable" okText="OK" cancelText="Anuluj" placeholder="Wybierz stolik">
      <ion-select-option *ngFor="let table of tables" [value]="table">
        Stolik {{ table }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card class=" ion-no-margin ion-margin-horizontal orderedDishesCard">
    <ion-card-header class="ion-no-padding">
      <ion-item class="ion-no-padding">
        <ion-icon name="fast-food" slot="start" class="ion-margin"></ion-icon>
        <ion-card-subtitle>Zamowione pozycje</ion-card-subtitle>
        <span slot="end">{{orderedDishes.length}}</span>
      </ion-item>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-grid *ngIf="orderedDishes.length > 0;else noOrderedDishes">
        <ion-row *ngFor="let orderedDish of orderedDishes;let i = index">
          <ion-col size="7">
            {{orderedDish.dish.dishName}}
          </ion-col>
          <ion-col size="3">
            {{orderedDish.dish.dishPrice | number:'1.2-2'}} zl
          </ion-col>
          <ion-col size="2">
            <ion-icon name="trash-outline" class="dishOption ion-margin-right" (click)="showDishOption(orderedDish)">
            </ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-item slot="start">
      <h3>Suma:</h3>
    </ion-item>
    <ion-item slot="end">
      <h3>{{totalPrice | number:'1.2-2'}} zł</h3>

    </ion-item>
  </ion-item>


<ion-item class='order-annotation'>
  <ion-textarea [(ngModel)] = "orderAnnotation" placeholder="Uwagi do zamówienia" rows="6" inputmode="text"></ion-textarea>
</ion-item>


  <!--  <ion-label *ngIf="orderAnnotation != undefined && orderAnnotation.length != 0; else noAnnotation"></ion-label> -->
  <!--  <ion-icon name="create-outline" class="add-order-annotation-icon" size="large" (click) = "editOrderAnnotation()"></ion-icon> -->
  <!--     <ion-textarea placeholder="Enter more information here..."></ion-textarea>
 -->

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="primary" (click)="sendOrder()">
      <ion-icon name="send"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="goToSelectDish()">
      <ion-icon name="add" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-template #noOrderedDishes>
  <ion-item>Brak dodanych dań</ion-item>
</ng-template>