ion-header {
  & ion-icon {
    margin-right: 1rem;
  }
}

ion-col {
  
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

ion-row:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

ion-toast.alertToast {
  background-color: red !important;
  text-align: center;
}

.dishOption {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

ion-card {
  margin-top: 5px;
  margin-bottom: 5px;

  ion-card-header {
    border-bottom: 1px solid white;
  }

  ion-card-content {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.sendOrderButton {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.order-annotation {
  margin: 1rem;
  border-radius: 10px;
  ion-textarea {
    margin: 5px;
    padding: 5px;
    height: 140px;
    color: gray;
  }
}
