
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Zamówienia</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="active">
    <ion-icon name="alert-outline" size="large"></ion-icon>
    <ion-label>Aktywne</ion-label>
    <ion-badge id="notifications-badge" color="danger" *ngIf="readyToDeliver > 0"><span>{{readyToDeliver}}</span></ion-badge>
  </ion-tab-button>

    <ion-tab-button tab="finished">
      <ion-icon name="checkmark-outline" size="large"></ion-icon>
      <ion-label>Zakończone</ion-label>
  </ion-tab-button>
  
    <ion-tab-button tab="closed">
      <ion-icon name="close-outline" size="large"></ion-icon>
      <ion-label>Zamknięte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>