<ion-content *ngIf="activeOrders != null && activeOrders.length > 0;else noActiveOrders">
    <div class="card-container" #cardContainer *ngFor="let order of activeOrders | sortByTime;"
    [ngClass]="order.orderStatus == 'finished'?'ion-card-farewell':'none'">
        <ion-card class="ion-no-margin">
            <ion-card-header class="ion-no-padding ion-padding-horizontal" color="light">
                <ion-item class="ion-no-padding ion-no-margin" color="light">
                    <ion-card-title slot="start">
                        <ion-label>Stolik {{order.table}}</ion-label>
                    </ion-card-title>
                    <ion-label class="ion-text-center">
                        {{order.orderedDishes | quantityByStatus:'delivered':trigger}}/{{order.orderedDishes.length}}
                    </ion-label>
                    <ion-label slot="end" class="ion-no-padding ion-no-margin ion-text-end">
                        {{order.orderDate | date: 'shortTime'}}</ion-label>
                </ion-item>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
                <ion-label *ngIf="order.orderAnnotation != undefined && order.orderAnnotation.length > 0"
                    class="ion-padding ion-margin">{{order.orderAnnotation}}</ion-label>
                <ion-item appMarkOrderedDish *ngFor="let orderedDish of order.orderedDishes;let i = index;"
                    [orderedDish]="orderedDish" class="ion-no-padding ion-no-margin">
                    <ion-label text-wrap class="ion-padding-start">
                        {{i+1}}. {{orderedDish.dish.dishName}}
                    </ion-label>
                    <ion-item slot="end" lines="none" class="ion-no-padding ion-no-margin">
                        <div [ngSwitch]="orderedDish.orderDishStatus" slot="end">
                            <div *ngSwitchCase="'inProgress'" class="icon-container">
                                <ion-icon name="timer-outline" style="font-size:1.4rem !important;"></ion-icon>
                            </div>
                            <div *ngSwitchCase="'delivered'" class="icon-container">
                                <ion-icon name="checkmark-done-outline" style="font-size:1.4rem !important;"></ion-icon>
                            </div>
                            <div *ngSwitchCase="'ready'" class="icon-container">
                                <ion-icon name="alert-outline" class="ready-icon"
                                    (click)="changeStatus(orderedDish,order)"></ion-icon>
                            </div>
                        </div>
                    </ion-item>
                </ion-item>
                <ion-item class="ion-no-padding">
                    <ion-button class="add-to-order-button ion-no-padding ion-padding-end ion-margin-start"
                        (click)="addToOrder(order)" color="light">
                        <ion-icon name="add-outline" class="ion-no-margin ion-margin-horizontal"></ion-icon>
                        Dodaj
                    </ion-button>
                </ion-item>
            </ion-card-content>
        </ion-card>
        <div class="order-card-action">
            <ion-button color="primary" class="ion-no-margin">Zmień</ion-button>
            <ion-button color="danger" class="ion-no-margin">Usuń</ion-button>
        </div>
    </div>
</ion-content>

<ng-template #noActiveOrders>
    <ion-content class="ion-text-center ion-padding">
        <ion-label>Brak aktywynych zamówień</ion-label>
    </ion-content>
</ng-template>