
ion-item > div {
    text-align: center;
}

.icon-container {

    min-width:2.5rem;
    text-align:center;

    .ready-icon {
        animation:notify 1.5s infinite;
        color:var(--ion-color-success);
    }
}
.ion-card-farewell {
  animation-name:leftToRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.add-to-order-button {
    padding:0;
    icon {
        margin:0;
        padding:0;
    }
}

@keyframes notify {
    0% {
        font-size:1.8rem;
        color:var(--ion-color-success);
    }
    50% {
        font-size:2.3rem;
        color:#e6ff06;
    }

    100% {
        font-size:1.8rem;
        color:var(--ion-color-success);
    }
}


@keyframes leftToRight {
    from {
        opacity:1;
    }
    to {
        transform:translateX(100%);
        opacity:0;
        
    }
}