.back-icon {
    margin-left:1rem;
}

ion-card-header {
    border-bottom:2px solid var(--ion-color-primary);
}

ion-header > ion-title {
    text-align:center;
}

ion-option {
    text-transform: capitalize;
}

ion-card {
    overflow-y: scroll;
}

.categoryHeader {
    text-align:center;
}
.dish-category-list {
    padding:0;
    margin:1rem;
}
.dish-category-list-category-element {
    padding:0;
    margin:0;
}
.dish-category-list-dish-element {
    width:100%;
    padding:0;
    margin:0;
}
.category-header {
    width:100%;
    padding:0;
    margin:10px 0 0 0;
    color: white;
}

.category-header > ion-label {
    background-color: rgb(255, 255, 255,0.1);
    width:100%;
    text-align:center;
    border-radius:20px;
    padding:5px;
}

.dish-list {
    padding:0;
    margin:0;
}

.dish-element {
    font-size:0.9rem;
}
.dish-element:not(:last-child) {
    border-bottom:1px solid white;
}

.dish-name {
    flex-grow:2;
    margin:0;
    padding:5px 0 5px 0;
    line-height: 1rem;
}
.dish-price {
    margin:0;
    padding:0;
    flex-grow:1;
}

.dish-description {
    color:gray;
    font-size:0.7rem;
}
