<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" class="back-icon" size="large" (click)="cancel()"></ion-icon>
    <ion-title>Dodaj danie</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item class="ion-margin">
    <ion-label>Kategoria dania</ion-label>
    <ion-select [(ngModel)]="selectedCategory" placeholder="Wybierz kategorie" cancelText="Anuluj" okText="Wybierz">
      <ion-select-option [value]="allCategory">{{
        allCategory | titlecase
      }}</ion-select-option>
      <ion-select-option *ngFor="let dishCategory of dishCategories" [value]="dishCategory">
        {{ dishCategory | titlecase }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista dań</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor = "let dish of allDishes | filterByCategory: selectedCategory" (click) = "addDish(dish)" class="ion-no-padding">
            {{dish.dishName}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>