<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" class="back-icon" size="large" (click)="cancel()"></ion-icon>
    <ion-title>Dodaj danie</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item class="ion-margin" lines="full">
    <ion-label>Kategoria dania</ion-label>
    <ion-select [(ngModel)]="selectedCategory" placeholder="Wybierz kategorie" cancelText="Anuluj" okText="Wybierz">
      <ion-select-option [value]="allCategory">{{
        allCategory | titlecase
      }}</ion-select-option>
      <ion-select-option *ngFor="let dishCategory of dishCategories" [value]="dishCategory">
        {{ dishCategory | titlecase }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list class="dish-category-list">
    <ion-item *ngFor="let category of dishesWithCategories | keyvalue | filterByCategory:selectedCategory"
      class="dish-category-list-category-element">
      <ion-list class="dish-category-list-dish-element">
        <ion-item class="category-header" lines="full"><ion-label>{{category.key | uppercase}}</ion-label></ion-item>
        <ion-list class="dish-list">
          <ion-item *ngFor="let dish of category.value" class="dish-element" (click) = "addDish(dish)" lines="full">
            <ion-label text-wrap slot="start" class="dish-name">{{dish.dishName}}
              <ion-label  class="dish-description" text-wrap>{{dish.dishDescription}}</ion-label>
            </ion-label>
           
            <ion-label slot="end" class="dish-price">{{dish.dishPrice | number:'1.2-2'}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>