ion-card {
    position:relative;
    margin:0.5rem;
    ion-card-header {
    z-index:2;
    }
    ion-card-content {
        z-index:1;
        max-height:0px;
    }

    .total-label {
        font-size:1.5rem;
    }
}
