<ion-content *ngIf="closedOrders != null && closedOrders.length > 0;else noClosedOrders">
  <ion-card *ngFor = "let order of closedOrders | sortByTime;" appAnimateDropdown>
      <ion-card-header class="ion-no-padding ion-padding-horizontal" color="light">
          <ion-item class="ion-no-padding ion-no-margin" color="light">
          <ion-card-title slot="start">
              <ion-label>Stolik {{order.table}}</ion-label>
          </ion-card-title>
        <ion-label slot="start" class="ion-no-padding ion-no-margin ion-text-end">{{order.orderDate | date: 'shortTime'}}</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline" size="large" ></ion-icon>
          </ion-item>
      </ion-card-header>
      <ion-card-content class="ion-no-padding">
          <ion-item *ngFor = "let orderedDish of order.orderedDishes;let i = index;"  
           class="ion-no-padding ion-no-margin">
              <ion-label text-wrap class="ion-padding-start">
                  {{i+1}}. {{orderedDish.dish.dishName}}
              </ion-label>
             <ion-item slot="end" lines="none" class="ion-no-padding ion-no-margin">
                 <div [ngSwitch] = "orderedDish.orderDishStatus" slot="end">
                      <div *ngSwitchCase = "'inProgress'" class="icon-container">
                          <ion-icon name="timer-outline" style="font-size:1.4rem !important;"></ion-icon>       
                      </div>
                      <div *ngSwitchCase = "'delivered'" class="icon-container">
                          <ion-icon name="checkmark-done-outline" style="font-size:1.4rem !important;"></ion-icon>          
                      </div>
                  </div>
                 
             </ion-item>
          </ion-item>

      </ion-card-content>
  </ion-card>
</ion-content>

<ng-template #noClosedOrders>
  <ion-content class="ion-text-center ion-padding">
      <ion-label>Brak zamkniętych zamówień</ion-label>
  </ion-content>
</ng-template>