<ion-content *ngIf="finishedOrders != undefined && finishedOrders.length > 0; else noFinishedOrders">
  <ion-card *ngFor="let order of finishedOrders | sortByTime;let orderIndex = index"
    class="ion-no-margin"
    [class.ion-card-right-to-left] = "order.orderStatus == 'active'"
    [class.ion-card-left-to-right] = "order.orderStatus == 'closed'">
      <ion-card-header class="ion-no-padding ion-padding-start" color="light">
          <ion-item class="ion-no-padding ion-no-margin" color="light">
          <ion-card-title slot="start">
              <ion-label>Stolik {{order.table}}</ion-label>
          </ion-card-title>
          <ion-label class="ion-no-margin ion-no-padding">Suma: {{order.totalPrice}} zł</ion-label>
          </ion-item>
      </ion-card-header>
      <ion-card-content class="ion-no-padding">
        <ion-item *ngFor = "let orderedDish of order.orderedDishes;let i = index;" lines="full"  
        class="ion-align-items-center ion-no-padding">
        <div class="label-container">
        <span style="margin-right:0.5rem;margin-left:1rem;">{{i+1}}. </span>
        <ion-label class= "ion-no-margin dish-label" text-wrap>{{orderedDish.dish.dishName}}</ion-label>
         </div>
             <ion-item slot="end" lines="none" class="ion-no-padding ion-no-margin">
                 <div [ngSwitch] = "orderedDish.orderDishStatus" slot="end">
                    <div *ngSwitchCase = "'inProgress'" class="icon-container">
                        <ion-icon name="timer-outline" style="font-size:1.4rem !important;"></ion-icon>       
                    </div>
                    <div *ngSwitchCase = "'delivered'" class="icon-container">
                        <ion-icon name="checkmark-done-outline" style="font-size:1.4rem !important;"></ion-icon>          
                    </div>
                  </div>
             </ion-item>
          </ion-item>
          <ion-item class="ion-no-padding">
      <ion-button class="add-to-order-button ion-no-padding ion-padding-end ion-margin-start" (click) = "addToOrder(order)" color="light">
          <ion-icon name="add-outline" class="ion-no-margin ion-margin-horizontal"></ion-icon>
          Dodaj
        </ion-button>
        
        <ion-button slot="end" (click) = "finalizeOrder(order,finishedOrders[orderIndex])" color="primary">Finalizuj</ion-button>
        </ion-item>
        <ion-item *ngIf="order.orderAnnotation != undefined && order.orderAnnotation.length > 0">
          <ion-label class="ion-no-padding ion-no-margin" style="font-size:0.9rem;" text-wrap>
              {{order.orderAnnotation}}
          </ion-label>
          </ion-item>
      </ion-card-content>
  </ion-card>
</ion-content>

<ng-template #noFinishedOrders>
    <ion-content  class="ion-padding ion-text-center">
        <ion-label>Brak zakończonych zamówień</ion-label>
    </ion-content>
</ng-template>