.logo {
    font-size:100px;
    margin:10px 0 10px 0;
}

.logo-container {
    text-align:center;
}
.formControll {
    margin:10px;
}

ion-button {
    margin:10px;
    margin-top:20px;

}
h2 {
    text-align:center;
    margin-bottom:20px;
}